<%= form_for @cohort do |f| %>
  <div>
    <% f.label :name %> Name: 
    <%= f.text_field :name %>
  </div>

  <div>
    <% f.label :start_date %> Start Date: 
    <%= f.date_field :start_date %>
  </div>

  <div>
    <% f.label :end_date %> End Date: 
    <%= f.date_field :end_date %>
  </div>
  
  <div>
    <% f.label :course %>Course: 
    <%= f.select :course_id, @courses %>
  </div>

  <div>
    <% f.label :instructor %>Instructor: 
    <%= f.select :instructor_ids, @instructors %>
  </div>

  <div>
    <% f.label :student %>Students: 
    <%= f.select :student_ids, @students %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>