<h3>Cohorts</h3>

<p>This is where you can create, display, edit, and remove Cohorts</p>

<div>
  <%= link_to 'Add New Cohort', new_cohort_path %>
</div>
<br>

<div>

  <% if @cohorts!=[] %>
    <% @cohorts.each do |cohort| %>

      <div class="cohort-div">
        <div>
          Cohort: <%= cohort.name %>
        </div>
        <div>
          Start Date: <%= cohort.start_date %>
        </div>
        <div>
          End Date: <%= cohort.end_date %>
        </div>
        

        <div>
           <%= link_to 'View', cohort_path(cohort) %>
          <%= link_to 'Edit', edit_cohort_path(cohort) %>
          <%= link_to 'Delete', cohort, class: 'delete-cohort' %>
        </div>

        <br>
      </div>
    
    <% end %> 
  <% end %>
  
</div>