<h3>Instructor Details:</h3>

<table class="table table-striped table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Id #</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Birthday</th>
      <th scope="col">Salary</th>
      <th scope="col">Education</th>
      <th scope="col">Registered</th>
      <th scope="col">Last Updated</th>
      <th scope="col">Options</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th scope="row"><%= @instructor.id%></th>
      <td><%= @instructor.f_name %></td>
      <td><%= @instructor.l_name %></td>
      <td><%= @instructor.birthday.strftime("%m/%d/%Y") %></td>
      <td><%= number_to_currency(@instructor.salary, precision: 0) %></td>
      <td><%= @instructor.education %></td>
      <td><%= @instructor.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
      <td><%= @instructor.updated_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
      <td class="links">
        <%= link_to 'Edit', edit_instructor_path(@instructor) %>
      </td>
    </tr>
  </tbody>
</table>

<br>
<div  class="links">
  <span class="btn btn-outline-secondary btn-lg btn-block"><%= link_to 'Back', instructors_path %></span>
</div>