<h3>Courses</h3>

<p>This is where you can create, display, edit, and remove Courses</p>

<div>
  <%= link_to 'Add New Course', new_course_path %>
</div>
<br>

<div>
  <% if @courses!=[] %>
    <% @courses.each do |course| %>

        <div class="course-div">
          <div>
            Course: <%= course.name %>
          </div>
          <div>
            Total Course Hours: <%= course.hours %>
          </div>

          <div>
            <%= link_to 'View', course_path(course) %>
            <%= link_to 'Edit', edit_course_path(course) %>
            <%= link_to 'Delete', course, class: 'delete-course' %>
          </div>
          <br>
      </div>

    <% end %> 
  <% end %>
</div>