<h3>Courses</h3>

<p>This is where you can create, display, edit, and remove courses</p>

<div>
  <%= link_to 'Add New Course', new_course_path %>
</div>
<br>

<div>

  <% if @courses!=[] %>

    <% @courses.each do |course| %>

      <div>
        Course: <%= course.name %>
      </div>
      <div>
        Total Course Hours: <%= course.hours %>
      </div>

      <div>
        <%= link_to 'View', course_path(course) %>
        <%= link_to 'Edit', edit_course_path(course) %>
        <%= link_to 'Delete', course_path(course), 'data-method': 'DELETE', 'data': { confirm: 'Are you sure?' } %>
      </div>

      <br>
    <% end %> 

  <% end %>
  
</div>