<!DOCTYPE html>
<html>
  <head>
    <title>PamelasPanel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav>
            <ul>
              <li><%= link_to 'Home', root_path %></li>
              <li><%= link_to 'Students', students_path %></li>
              <li><%= link_to 'Instructors', instructors_path %></li>
              <li><%= link_to 'Courses', courses_path %></li>
              <li><%= link_to 'Cohorts', cohorts_path %></li>
            </ul>
          </nav>
        </div>
      </div>
      
      <div class="row">
        <div class="col-12">
          <%= custom_bootstrap_flash %>
          <%= yield %>
        </div>
      </div>
      
    </div>
  </body>
</html>
